* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4EFE6;
    color: #2E2E2E;
}

header {
    background-color: #7A0019;
    color: white;
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-container .logo img {
    width: 95px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav { 
    background-color: white;
    border-bottom: 3px solid #7A0019;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #7A0019;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #EBC647;
}

main {
    padding: 30px;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    gap: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.image-section img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.text-section h2 {
    color: #7A0019;
    margin-top: 0;
}

.text-section p {
    line-height: 1.6;
}

table {
    border: 2px solid #C9A227;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th {
    background-color: #7A0019;
    color: white;
    padding: 0.5em;
}

td {
    border: 2px solid #C9A227;
    text-align: center;
    padding: 0.5em;
}

tr:nth-child(odd) {
    background-color: #FDF6E7;
}

td.text-left {
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}

form label {
    font-weight: bold;
}

form input,
textarea,
form select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #CCC;
    font-family: inherit;
    }

    form input [type="submit"] {
        background-color: #C9A227;
        color: #7A0019;
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    form input [type="submit"]:hover {
        background-color: #EBC647;
        color: white;
    }

@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
    }
}

.image-section,
.text-section { 
    flex: 1;
}

@media (min-width: 1024px) {
  nav ul {
    padding-left: 50px;
  }
}

footer {
    background-color: #7A0019;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}